<div id="root" class="center">
  <p><input type="text" [(ngModel)]="userInfo.name" placeholder="Your Name"/></p>
 <p> <input type="number" [(ngModel)]="userInfo.age" placeholder="Your age"/></p>
  <input type="radio" [(ngModel)]="userInfo.gender" name="gen" value="Male" />Male
  <input type="radio" [(ngModel)]="userInfo.gender" name="gen" value="Female"/>Female
  <!-- <input type="radio" [(ngModel)]="userInfo.gender" name="g"/>Others -->
<div>
  {{userInfo.name}}
  {{userInfo.age}}
  {{userInfo.gender}}
</div>
  <button class="btn btn-danger" (click)="fun()">Submit</button>
</div>